body,
body div.main-body {
    width: 100vw;
}

body div.main-body {
    padding: 30px;
}

.main-body .jumbotron {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

/* conteudo principal */

/* Navbar top */
section>nav {
    margin: 0 auto;
    width: 100%;
}

@media only screen and (max-width: 375px) {
    #navigation .navbar-brand #brand-text {
        display: none;
    }
}

/* Seção principal */
section#content {
    padding: 6em 2em 2em;
    width: 100vw;
}

#img-profile {
    margin-bottom: 2em;
    max-width: 300px;
    width: 70%;
}

.shadow {
    box-shadow: #bdbdbd 0 5px 10px;
}

.img-round {
    border-radius: 50%;
}

@media only screen and (min-width: 500px) {
    #img-profile {
        float: left;
        margin-left: 0 !important;
        margin-right: 2em !important;
        width: 50%;
    }

    /* #description {
        font-size: 1.2em;
    } */
}

i+span {
    margin-left: 1em;
}

/* Navbar footer */
#footer .nav-item {
    width: 100%;
}