*,
body, 
html {
    box-sizing: border-box;
    color: #2B3288;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #F5F5FB;
    height: 100vh;
    padding: 32px 16px;
    width: 100%;
}

.who-am-i__title {
    font-weight: 900;
    margin-bottom: 16px;
}

.who-am-i__description-box {
    background: #FFF;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
}

.who-am-i__description-box__divider {
    background: #2B3288;
    height: 2px;
    margin: 16px 0;
    width: 100%;
}

.who-am-i__description-box__header svg {
    stroke-width: 3;
}

.who-am-i__contact-icons a:not(:first-child),
.who-am-i__description-box__header svg:not(:first-child) {
    margin-left: 16px;
}

.who-am-i__description {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 16px;
}

.who-am-i__link{
    font-weight: bold;
}

.who-am-i__skills-list {
    list-style: none;
    padding-left: 16px;
}

.who-am-i__skills-title,
.who-am-i__contact-title,
.who-am-i__skills-item:not(:last-child) {
    margin-bottom: 8px;
}