.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 32px;
  text-align: center;
  width: 100vw;

  &__selector-lang {
    position: fixed;
    top: 32px;
    right: 32px;
  }
}
