@use "~@angular/material" as mat;
@import "~@angular/material/theming";
@include mat.core();

$my-custom-primary: (
  50: #ede7f5,
  100: #d1c5e6,
  200: #b39fd7,
  300: #9577c7,
  400: #7f5abb,
  500: #693eaf,
  600: #6039a9,
  700: #54319f,
  800: #492b97,
  900: #382088,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$my-custom-accent: (
  50: #f4f5e6,
  100: #e3e7c0,
  200: #d0d798,
  300: #bdc770,
  400: #aebc50,
  500: #a0b12f,
  600: #90a227,
  700: #7b901d,
  800: #667c15,
  900: #425c02,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: white,
  ),
);

$my-custom-warn: (
  50: #f9eaeb,
  100: #f2cccc,
  200: #d99993,
  300: #c7746b,
  400: #cc5a49,
  500: #cc4f31,
  600: #be4730,
  700: #ad3e2b,
  800: #a03925,
  900: #90321d,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: white,
    800: white,
    900: white,
  ),
);

$my-custom-primary: mat-palette($my-custom-primary);
$my-custom-accent: mat-palette($my-custom-accent, 100, 500, A100);
$my-custom-warn: mat-palette($my-custom-warn);

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-custom-primary,
      accent: $my-custom-accent,
      warn: $my-custom-warn,
    ),
  )
);

@include mat.all-component-themes($angular-default-theme);

$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-custom-primary,
      accent: $my-custom-accent,
      warn: $my-custom-warn,
    ),
  )
);

.dark {
  @include mat.all-component-colors($angular-dark-theme);
}
